# What is pandas  ?

`-->>` `Pandas` is a Python library used for working with data sets.

`-->>`  It has functions for analyzing, cleaning, exploring, and manipulating data.

`-->>`  The name "Pandas" has a reference to both "Panel Data", and "`Python Data Analysis`" and was created by `Wes McKinney` in 2008.

# Why Use Pandas?

`-->>` Pandas allows us to analyze big data and make conclusions based on statistical theories.

`-->` Pandas can clean messy data sets, and make them readable and relevant.

`-->>` Relevant data is very important in data science.

What Can` Pandas Do`?
Pandas gives you answers about the data. Like:

Is there a correlation between two or more columns?.
`{:` What is average value?.
`{:` Max value?.
`{:` Min value?.
`{:` Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

# ` Installation Of pandas...`

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\yasir\.conda\envs\deeplearning\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\yasir\.conda\envs\deeplearning\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yasir\.conda\envs\deeplearning\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\yasir\.conda\envs\deeplearning\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in c:\users\yasir\.conda\envs\deeplearning\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

#### Importing and chaecking if it installed or not ?

In [2]:
import pandas as pd

#### To print the installed vesion pandas

In [4]:
version = pd.__version__
print("pandas version :" , version)

pandas version : 1.4.2

In [16]:
details = {
    'Name' : ['Yasir', 'Jawad', 'Qadir', 'Hasnani',"Adnan"],
    'Age' : [21, 23, 22, 21,24],
    'Department' : ['MTE', 'MTE', 'CS', 'ME','ME'],
    '1stSmstr_GPA':[2.3,3.5,4,3.9,3.8],
    'RollNUmber':["20mte006","20mte007",'20cs014','20ME007','20mte003'],
    'GirlFriend':["NO",'YES','NO','BoyFriend','YES']
}
  
# creating a Dataframe object 
df = pd.DataFrame(details)
  
df

      Name  Age Department  1stSmstr_GPA RollNUmber GirlFriend
0    Yasir   21        MTE           2.3   20mte006         NO
1    Jawad   23        MTE           3.5   20mte007        YES
2    Qadir   22         CS           4.0    20cs014         NO
3  Hasnani   21         ME           3.9    20ME007  BoyFriend
4    Adnan   24         ME           3.8   20mte003        YES

In [24]:
Names = df.Name
print(Names)

0      Yasir
1      Jawad
2      Qadir
3    Hasnani
4      Adnan
Name: Name, dtype: object

In [25]:
Age = df.Age
print(Age)

0    21
1    23
2    22
3    21
4    24
Name: Age, dtype: int64

In [26]:
Names_And_RoolNum = df[['Age','RollNUmber']]
print(Names_And_RoolNum)

   Age RollNUmber
0   21   20mte006
1   23   20mte007
2   22    20cs014
3   21    20ME007
4   24   20mte003

In [28]:
Names_GF = df[['Name','GirlFriend']]
print(Names_GF)

      Name GirlFriend
0    Yasir         NO
1    Jawad        YES
2    Qadir         NO
3  Hasnani  BoyFriend
4    Adnan        YES