# Pandas Series

### ` What is a Series?`

A `Pandas Series` is like a column in a table.

It is a one-dimensional array holding data of any type.

Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.

### ` A series can be created using various inputs like −`

Array
1.Dict
2.Scalar value or constant
3.Create an Empty Series
4.A basic series, which can be created is an Empty Series.

#### `Creating Empty Array`

In [3]:
import pandas as pd
ser = pd.Series()
print("Empty Series:", ser)

Empty Series: Series([], dtype: float64)

C:\Users\yasir\AppData\Local\Temp\ipykernel_15228\2858070715.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [4]:
print(type(ser))

<class 'pandas.core.series.Series'>

# `Creating Series from an ndarray`

# Example 1

In [11]:
import numpy as np
arr = np.array([1,2,3,4,5])
ser1 = pd.Series(arr)
print("Its output is as follows −")
print(" ")
print(ser1)

Its output is as follows −

0    1
1    2
2    3
3    4
4    5
dtype: int32

We did not pass any index, so by default, it assigned the indexes ranging from 0 to len(data)-1, i.e., 0 to 3

# Example2

In [14]:
data = np.array(["Yasir","adnan","Jawad","Hasnain","Qadir"])
ser2 = pd.Series(data,index = ['a','b','c','d','e'])
print("Its output is as follows −")
print("  ")
print(ser2)

Its output is as follows −

a      Yasir
b      adnan
c      Jawad
d    Hasnain
e      Qadir
dtype: object

We passed the index values here. Now we can see the customized indexed values in the output.

# `Create a Series from dict`

# Example 1

In [17]:
import pandas as pd
import numpy as np
data1 = {1:"Yasir",2:"Qadir",3:"Jawad",4:"Adnan"}
ser2 = pd.Series(data1)
print("Its output is as follows −")

print("  ")

print(ser2)

Its output is as follows −

1    Yasir
2    Qadir
3    Jawad
4    Adnan
dtype: object

Observe − Dictionary keys are used to construct index.

# Example 2

In [22]:

data1 = {1:"Yasir",2:"Qadir",3:"Jawad",4:"Adnan"}

ser3 = pd.Series(data1,index = [4,1,3,0])

print("Its output is as follows −")

print("  ")

print(ser3)

Its output is as follows −

4    Adnan
1    Yasir
3    Jawad
0      NaN
dtype: object

Observe − Index order is persisted and the missing element is filled with NaN (Not a Number).

# `Create a Series from Scalar`
If data is a scalar value, an index must be provided. The value will be repeated to match the length of index

In [26]:
import pandas  as pd
import numpy as np
ser4 = pd.Series(5,index =[1,2,3])
ser5 = pd.Series(5,index =['a','b','c','d','e'])
print("ser4 output as follows- ")
print(" ")
print(ser4)

print(" ")
print("ser5 output as follows- ")
print(ser5)

ser4 output as follows-

1    5
2    5
3    5
dtype: int64

ser5 output as follows-
a    5
b    5
c    5
d    5
e    5
dtype: int64

# `Accessing Data from Series with Position`

Data in the series can be accessed similar to that in an ndarray.


Retrieve the first element. As we already know, the counting starts from zero for the array, which means the first element is stored at zeroth position and so on.

# Example 1

In [28]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[0])

1

In [29]:
print(s[0:3])

a    1
b    2
c    3
dtype: int64

In [30]:
s['a']

1

In [31]:
s[['a','b']]

a    1
b    2
dtype: int64

`Taking last Three Elements`

In [32]:
s[-3:]

c    3
d    4
e    5
dtype: int64

`Taking First Three Elements`

In [34]:
s[:3]

a    1
b    2
c    3
dtype: int64

`Accesing Elements using Indexs`

In [35]:
s[['a','b','c']]

a    1
b    2
c    3
dtype: int64

In [36]:
s['a']

1

In [38]:
s['c']

3

In [40]:
s[['e','d']]

e    5
d    4
dtype: int64