# HandLing And Cleaning Data

In [1]:
# import the pandas library
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)

        one       two     three
a -0.761875  0.852288  2.315748
b       NaN       NaN       NaN
c -0.732741 -0.936491  0.600543
d       NaN       NaN       NaN
e  1.597666  0.176829 -0.241542
f  0.254077  0.358455  0.454118
g       NaN       NaN       NaN
h -0.458100 -2.722864  0.617918

Using reindexing, we have created a DataFrame with missing values. In the output, NaN means Not a Number.

# Example 1

####  Check for Missing Values
To make detecting missing values easier (and across different array dtypes), Pandas provides the isnull() and notnull() functions, which are also methods on Series and DataFrame objects −

###  isnull()

In [2]:
import pandas as pd
import numpy as np
 
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)

        one       two     three
a -0.903529 -1.486416 -0.040994
b       NaN       NaN       NaN
c -0.289464 -1.800790  0.937269
d       NaN       NaN       NaN
e -1.202293 -0.356683 -1.130208
f  0.973038 -0.529363 -0.607628
g       NaN       NaN       NaN
h  1.672525 -1.253391 -1.476751

In [6]:
df['one']

a   -0.903529
b         NaN
c   -0.289464
d         NaN
e   -1.202293
f    0.973038
g         NaN
h    1.672525
Name: one, dtype: float64

In [8]:
print(df.one.isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [9]:
df['two']
print(df.two.isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: two, dtype: bool

In [3]:
print(df.isnull())

     one    two  three
a  False  False  False
b   True   True   True
c  False  False  False
d   True   True   True
e  False  False  False
f  False  False  False
g   True   True   True
h  False  False  False

# notnull()

In [10]:
print(df['one'].notnull())

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

# Calculations with Missing Data
1. When summing data, NA will be treated as Zero
2. If the data are all NA, then the result will be NA

In [11]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)

        one       two     three
a -0.411009  0.786305  0.239836
b       NaN       NaN       NaN
c  0.731215 -0.416475 -0.524687
d       NaN       NaN       NaN
e -0.627801  0.098994 -0.253618
f  0.482198 -0.528665 -0.948030
g       NaN       NaN       NaN
h -1.202818 -1.738153  0.535426

In [12]:
df['one']

a   -0.411009
b         NaN
c    0.731215
d         NaN
e   -0.627801
f    0.482198
g         NaN
h   -1.202818
Name: one, dtype: float64

In [13]:
df['one'].sum()

-1.028214822608879

Check The Null values here...

In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame(index=[0,1,2,3,4,5],columns=['one','two'])
print(df)

   one  two
0  NaN  NaN
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN
5  NaN  NaN

In [15]:
df['one'].sum()

0

# Cleaning / Filling Missing Data
Pandas provides various methods for cleaning the missing values. The fillna function can “fill in” NA values with non-null data in a couple of ways, which we have illustrated in the following sections.

# Replace NaN with a Scalar Value
The following program shows how you can replace "NaN" with "0".

In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one',
'two', 'three'])

df = df.reindex(['a', 'b', 'c'])
print(df)

        one       two     three
a -0.113591  1.281805  0.805537
b       NaN       NaN       NaN
c  0.018031  0.246045  0.962549

In [18]:
df.isnull()

     one    two  three
a  False  False  False
b   True   True   True
c  False  False  False

In [19]:
print ("NaN replaced with '0':") # Or With Any scalar NUmber 1,2,3,4,5...
print(df.fillna(1))

NaN replaced with '0':
        one       two     three
a -0.113591  1.281805  0.805537
b  1.000000  1.000000  1.000000
c  0.018031  0.246045  0.962549

# Drop Missing Values
If you want to simply exclude the missing values, then use the dropna function along with the axis argument. By default, `axis=0,` i.e., along row, which means that if any value within a row is NA then the whole row is excluded.

Example 1

In [20]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)

        one       two     three
a  1.486598 -0.909122  1.565437
b       NaN       NaN       NaN
c  0.048292  0.221612  0.843495
d       NaN       NaN       NaN
e  0.921008 -1.383190  0.490596
f  0.743450 -1.081211 -1.197850
g       NaN       NaN       NaN
h -0.826556  0.053789 -0.075866

Droping the NAN Values With df.dropna()

In [21]:
df1 = df.dropna()
print(df1)

        one       two     three
a  1.486598 -0.909122  1.565437
c  0.048292  0.221612  0.843495
e  0.921008 -1.383190  0.490596
f  0.743450 -1.081211 -1.197850
h -0.826556  0.053789 -0.075866

# df.dropna(axis=1)

In [22]:
print(df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]